<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>WebUI Framework. PipDevs Team</title>

    <link rel="stylesheet" href="../lib/pip-webui-lib.css"/>
    <link rel="stylesheet" href="../dist/pip-webui-themes.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

    <style>
        .pip-title > h1 {
            margin-top: 20px;
            margin-bottom: 5px;
        }

        .pip-title > div {
            margin-bottom: 30px;
        }

        .pip-section > h2 {
            margin-bottom: 5px;
        }
    </style>

    <script src="../lib/pip-webui-lib.js"></script>
    <script src="../lib/pip-webui-core.js"></script>

    <script src="../dist/pip-webui-themes.js"></script>
    <script src="themes_default.js"></script>
    <script src="index.js"></script>

</head>
<body ng-app="app" class="layout-column layout-align-start-center {{$theme}}" ng-controller="AppController">

<md-toolbar ng-if="!$partialReset">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="menu"
                   ng-click="onToggleMenu()" hide-gt-sm>
            <md-icon md-svg-icon="icons:menu"></md-icon>
        </md-button>
        <span>{{'THEME' |translate}}</span>
        <md-menu md-position-mode="target-right target">
                <span class="pip-appbar-language"
                      ng-click="$mdOpenMenu()"
                      aria-label="language selection">
                    {{ $language | translate}}
                    <md-icon md-svg-icon="icons:triangle-down"></md-icon>
                </span>
            <md-menu-content width="3">
                <md-menu-item ng-repeat="lang in languages">
                    <md-button ng-click="onLanguageClick(lang)">{{lang | translate}}</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
<div class="layout-row flex" style="height: calc(100% - 64px); width: 100%">
    <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"
                class="md-whiteframe-z2 md-sidenav-left layout-column color-content-bg">
        <md-list>
            <md-list-item ng-repeat="contentItem in content"
                          ng-click="onSwitchPage(contentItem.state)"
                          ng-class="{ 'selected-state': isActiveState(contentItem.state) }">
                <p ui-sref="{{contentItem.state}}">{{contentItem.title}}</p>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <md-content id="content" class="flex p16">
        <div ui-view></div>
    </md-content>
</div>

</body>
</html>