<!--
@file Themes
@copyright Digital Living Software Corp. 2014-2015
-->

<md-select ng-model="$theme" ng-change="saveChanges($theme)" class="w-stretch tp0 tm0 theme-text-primary"
           ng-disabled="transaction.busy()"
           placeholder="{{'THEME' |translate}}">
    <md-option ng-value="theme" ng-repeat="theme in themes" ng-selected="$theme == theme ? true : false">{{theme |translate}}
    </md-option>
</md-select>

<div>
    <div class="color-primary"> color-primary</div>
    <div class="color-primary-bg"> color-primary-bg</div>
    <div class="color-accent"> color-accent</div>
    <div class="color-accent-bg"> color-accent-bg</div>
    <div class="color-hue"> color-hue</div>
    <div class="color-hue-bg"> color-hue-bg</div>
    <div class="color-primary-text"> color-primary-text</div>
    <div class="color-secondary-text"> color-secondary-text</div>
    <div class="color-divider"> color-divider</div>
    <div class="color-error"> color-error</div>
    <div class="color-badge"> color-badge</div>
    <div class="color-badge-bg"> color-badge-bg</div>
    <div class="color-toast"> color-toast</div>
    <div class="color-warm-bg"> color-warm-bg</div>
    <div class="color-warm"> color-warm</div>
    <div class="color-content-bg"> color-content-bg</div>
    <div class="color-window-bg"> color-window-bg</div>
</div>

<div class="bm16 ">
    <md-button md-no-ink class="md-primary">Primary (md-noink)</md-button>
    <md-button ng-disabled="true" class="md-primary">Disabled</md-button>
    <md-button class="md-warn">Title</md-button>
</div>

<div class="bm16 ">
    <md-button class="md-primary md-hue-1">Primary Hue 1</md-button>
    <md-button class="md-warn md-raised md-hue-2">Warn Hue 2</md-button>
    <md-button class="md-accent">Accent</md-button>
    <md-button class="md-raised">Raised</md-button>
    <md-button class="md-accent md-raised">Accent Hue 1</md-button>
</div>